@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

#signup {
    position: relative;
    font-family: "Roboto";
}

/* #signup #wrapper, */
 .wrapper {
    width: 300px;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.login .wrapper {
    padding-top: 50px;
}

 h1 {
    position: absolute;
    top: 170px;
}

.loginButton {
    background-color: blueviolet;
}

.errorMessage {
    color: red;
    position: absolute;
    bottom: 250px;
    width: 100%;
    text-align: center;
    display: none;
}



#signup form,
 .login form {
    position: absolute;
    top :400px;
    width: 300px;
    margin: auto;
    /* margin-left: 50px; */
}

#signup form {
    top :310px;

}


.login .wrapper .signUpButton{
    /* background-color: #AA3FEC; */
    size: 20px;
    background-color: white;
    border: none;
    color: rgb(67, 67, 172);
    position: absolute;
    bottom: 150px;
    width: 100%;

}


#standard-basic{
    width: 300px;
}

#standard-select-currency{
    width: 300px;
    /* display: block; */
}

.input {
    width: 300px;
}

#sginUpButton, #SpotifyButton{
    border-radius: 30px;
    background-color: #AA3FEC;
    width:  300px;
    height: 52px;
}




.spotifyLogin {
    width: 100vw;
    height: 100vh;
}


.spotifyLogin #wrapper {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 600px;
    justify-content: center;
}

.logoFrame {
    width: 144px;
    height: 144px;
    background-color: white;
    border-radius: 80px;
    position: relative;
    top: 150px;
    left: 75px;

}

.logoFrame h3 {
    position: absolute;
    margin: 0 auto;
    top: 70px;
    font-family: "Dancing Script";
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
}

#SpotifyButton {
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0;
}